<!DOCTYPE html>
<!-- saved from url=(0026)http://alwayscreative.net/ -->
<html class="js no-flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths wf-alternategothicno1d-n4-active wf-fftisawebpro-n4-active wf-fftisawebpro-n7-active wf-proximanova-n4-active wf-proximanova-n6-active wf-proximanova-n8-active wf-active" lang="en"><!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8">

  <title>Flowers Shop - Santiago</title>
  <meta name="description" content="Flowers shop. Santiago, Chile. We are a small team with big ideas.">
  <meta name="keywords" content="flowers, creative agency, design">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--<base href="http://alwayscreative.net/">-->
  <base href=".">
  <link rel="canonical" href="/">
  <link rel="icon" type="image/ico" href="/assets/scrolling/icon/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="/assets/scrolling/icon/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/scrolling/icon/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/scrolling/icon/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/scrolling/icon/apple-touch-icon-precomposed.png">

  <link href="/assets/scrolling/screen.css" media="screen, projection" rel="stylesheet" type="text/css">  
  <link href="/assets/scrolling/print.css" media="print" rel="stylesheet" type="text/css">

  <!--[if IE 9]>
    <link href="stylesheets/ie9.css" media="screen, projection" rel="stylesheet" type="text/css">
  <![endif]-->
  <!--[if IE 8]>
    <link href="stylesheets/ie8.css" media="screen, projection" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/javascripts/libs/respond.min.js"></script>
  <![endif]-->
  <!--[if IE 7]>
    <link href="stylesheets/ie7.css" media="screen, projection" rel="stylesheet" type="text/css">
  <![endif]-->
  
  <script>document.cookie='resolution='+Math.max(screen.width,screen.height)+'; path=/';</script>
  
  <noscript>
    <link href="stylesheets/noscript.css" media="screen, projection" rel="stylesheet" type="text/css">
  </noscript>
  
  <meta name="chromesniffer" id="chromesniffer_meta" content="{&quot;Google Analytics&quot;:-1,&quot;jQuery&quot;:&quot;1.8.0&quot;,&quot;Typekit&quot;:-1,&quot;Modernizr&quot;:&quot;2.5.3&quot;}">
  <script type="text/javascript" src="chrome-extension://homgcnaoacgigpkkljjjekpignblkeae/detector.js"></script>
</head>
<body class="">
  <div id="buffer"></div>
  <div id="universe" style="display: block;">
    <noscript>
      <div class="container">
        <div class="top-notice">
          Your browser's javascript is disabled. Even though our site is still accessible without it, you are missing out the enhanced experience that our site offers to users with javascript enabled.
        </div>
      </div>
    </noscript>
    <!--[if lte IE 7]>
    <div class="container">
      <div class="top-notice">
        <p class=chromeframe>Your browser is <strong>ancient!</strong> <a href="http://browsehappy.com/"> Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site in its true glory.</p>
      </div>
    </div>
    <![endif]-->
    <div id="main" class="main" role="main">
      <section id="start" class="start">
        <object data="http://alwayscreative.net/images/AC-icon.svg" type="image/svg+xml" id="ac-svg">
          <img src="/assets/images/ac-brand.png" alt="" id="brand">
        </object>
        <h1>Always Creative</h1>
        <h2 id="start-headline">Inspiration through Exploration</h2>
        <p class="statement">We’re a creative agency with a focus on the bigger picture and the smallest details. Curiosity and hard work keep us creative.</p>
      </section>
      <section id="process" class="section section-2 process">
        <div id="section-nav" class="section-nav">
          <div class="container">
            <ul class="nav">
              <li><a href="#start" id="link-start" class="active">Inspiration</a></li>
              <li><a href="#process" id="link-process">Process</a></li>
              <li><a href="#portfolio" id="link-portfolio">Portfolio</a></li>
              <li><a href="#team" id="link-company">Company</a></li>
              <li><a href="#contact" id="link-contact">Contact</a></li>
            </ul>
          </div>
        </div>
        <div id="process-steps" class="process-steps">
          
        <div class="flex-viewport" style="overflow: hidden; position: relative;">
          <ul class="slides" style="width: 1400%; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-1415px, 0, 0);">
            <li id="process-start" style="width: 1415px; float: left; display: block;" class="flex-active-slide">
              <div class="content">
                <h2 class="section-header">Process</h2>
                <p>We connect the dots through <br>insightful branding &amp; web development.</p>
                <a href="" class="process-trigger gen-next">See Our Process</a>
              </div>
            </li>
            <li id="process-1" class="process-step" style="width: 1415px; float: left; display: block;">
              <img src="/assets/images/bg-image.gif" alt="" class="bg-image" style="height: 696px;">
              <div class="content">
                <div class="header"><img src="/assets/images/process-step-1.png" alt="1"></div>
                <div class="step-name">Discover</div>     
                <p>Begin by understanding your company, marketplace, and goals.</p>
                <a href="" class="process-trigger trig-prev">Prev</a>
                <a href="" class="process-trigger trig-next">Next</a>
                <div class="process-menu">
                  <div class="phase"><a href="" class="current step step1" data-phase="1">Discovery</a></div>
                  <div class="phase"><a href="" class="step step2" data-phase="2">Deduce</a></div>
                  <div class="phase"><a href="" class="step step3" data-phase="3">Design</a></div>
                  <div class="phase"><a href="" class="step step4" data-phase="4">Deploy</a></div>
                </div>
              </div>
            </li>
            <li id="process-2" class="process-step" style="width: 1415px; float: left; display: block;">
              <img src="/assets/images/bg-image.gif" alt="" class="bg-image" style="height: 696px;">
              <div class="content">
                <div class="header"><img src="/assets/images/process-step-2.png" alt="2"></div>
                <div class="step-name">Deduce</div>     
                <p>Strip away the noise and get to the core of what makes you unique.</p>
                <a href="" class="process-trigger trig-prev">Prev</a>
                <a href="" class="process-trigger trig-next">Next</a>
                <div class="process-menu">
                  <div class="phase"><a href="" class="step step1" data-phase="1">Discovery</a></div>
                  <div class="phase"><a href="" class="current step step2" data-phase="2">Deduce</a></div>
                  <div class="phase"><a href="" class="step step3" data-phase="3">Design</a></div>
                  <div class="phase"><a href="" class="step step4" data-phase="4">Deploy</a></div>
                </div>
              </div>
            </li>
            <li id="process-3" class="process-step" style="width: 1415px; float: left; display: block;">
              <img src="/assets/images/bg-image.gif" alt="" class="bg-image" style="height: 696px;">
              <div class="content">
                <div class="header"><img src="/assets/images/process-step-3.png" alt="3"></div>
                <div class="step-name">Design</div>     
                <p>Bring the vision to life with detailed visuals and authentic storytelling.</p>
                <a href="" class="process-trigger trig-prev">Prev</a>
                <a href="" class="process-trigger trig-next">Next</a>
                <div class="process-menu">
                  <div class="phase"><a href="" class="step step1" data-phase="1">Discovery</a></div>
                  <div class="phase"><a href="" class="step step2" data-phase="2">Deduce</a></div>
                  <div class="phase"><a href="" class="current step step3" data-phase="3">Design</a></div>
                  <div class="phase"><a href="" class="step step4" data-phase="4">Deploy</a></div>
                </div>
              </div>
            </li>
            <li id="process-4" class="process-step" style="width: 1415px; float: left; display: block;">
              <img src="/assets/images/bg-image.gif" alt="" class="bg-image" style="height: 696px;">
              <div class="content">
                <div class="header"><img src="/assets/images/process-step-4.png" alt="4"></div>
                <div class="step-name">Deploy</div>     
                <p>Launch, monitor, and refine as your audience interacts and responds.</p>
                <div class="slide-nav">
                  <a href="" class="process-trigger trig-prev">Prev</a>
                  <a href="/assets/images/#portfolio" id="view-work" class="process-trigger">View Work</a>
                  <a href="" class="process-trigger trig-next">Next</a>
                </div>
                <div class="process-menu">
                  <div class="phase"><a href="" class="step step1" data-phase="1">Discovery</a></div>
                  <div class="phase"><a href="" class="step step2" data-phase="2">Deduce</a></div>
                  <div class="phase"><a href="" class="step step3" data-phase="3">Design</a></div>
                  <div class="phase"><a href="" class="current step step4" data-phase="4">Deploy</a></div>
                </div>
              </div>
            </li>
            <li id="process-start" style="width: 1415px; float: left; display: block;" class="clone">
              <div class="content">
                <h2 class="section-header">Process</h2>
                <p>We connect the dots through <br>insightful branding &amp; web development.</p>
                <a href="" class="process-trigger gen-next">See Our Process</a>
              </div>
            </li>
          </ul>
        </div>
        </div>
      </section>
      <section id="portfolio" class="section section-4 portfolio">
        <h2 class="section-header">Portfolio</h2>
        <div id="projects" class="projects">
          
          <div class="project">
            <a href="/assets/images/#project1">
              <div class="frame">
                <img src="/assets/images/pd-thumb.jpg" alt="Premium Draught">
              </div>
              <div class="info">Premium Draught <span class="year">2012</span></div>
            </a>
          </div>
          
          <div class="project">
            <a href="/assets/images/#project2">
              <div class="frame">
                <img src="/assets/images/hhh-thumb.jpg" alt="Houston Has Heart">
              </div>
              <div class="info">Houston Has Heart <span class="year">2012</span></div>
            </a>
          </div>
          
          <div class="project">
            <a href="/assets/images/#project3">
              <div class="frame">
                <img src="/assets/images/riverwoods-thumb.jpg" alt="Shops at Riverwoods">
              </div>
              <div class="info">Shops at Riverwoods<span class="year">2011</span></div>
            </a>
          </div>
          
          <div class="project">
            <a href="/assets/images/#project4">
              <div class="frame">
                <img src="/assets/images/nrb-thumb.jpg" alt="New Republic Brewing">
              </div>
              <div class="info">New Republic <span class="year">2011</span></div>
            </a>
          </div>
          <div class="project">
            <a href="/assets/images/#project5">
              <div class="frame">
                <img src="/assets/images/malawis-thumb.jpg" alt="Malawi&#39;s Pizza">
              </div>
              <div class="info">Malawi's Pizza <span class="year">2011</span></div>
            </a>
          </div>
          <div class="project">
            <a href="/assets/images/#project6">
              <div class="frame">
                <img src="/assets/images/hdco-thumb.jpg" alt="Hardwood Design Co.">
              </div>
              <div class="info">Hardwood <span class="year">2010</span></div>
            </a>
          </div>
          <div class="project">
            <a href="/assets/images/#project7">
              <div class="frame">
                <img src="/assets/images/thorn-thumb.jpg" alt="Thorn Pest Solutions">
              </div>
              <div class="info">Thorn <span class="year">2012</span></div>
            </a>
          </div>
          <div class="project">
            <a href="/assets/images/#project8">
              <div class="frame">
                <img src="/assets/images/ljg-thumb.jpg" alt="La Jolla Groves Restaurant">
              </div>
              <div class="info">La Jolla Groves<span class="year">2011</span></div>
            </a>
          </div>
          <div class="project">
            <a href="/assets/images/#project9">
              <div class="frame">
                <img src="/assets/images/blc-thumb.jpg" alt="Building Learning Communities - Annual Education Conference in Boston">
              </div>
              <div class="info">BLC <span class="year">2009 - 2012</span></div>
            </a>
          </div>
        </div>
      </section>
      <section id="team" class="section team">
        <div class="container">
          <header>
            <h2 class="section-header">Company</h2>
          </header>
          <div class="about-nav">
            <a href="/assets/images/#services" class="about-node first active" data-slide="0">Services</a>
            <a href="/assets/images/#team-members" class="about-node last" data-slide="1">The Team</a>          
          </div>
        </div>
        <div id="about-slider">
          <ul class="outer-slides">
            <li class="inner-slide flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;">
              <div id="services" class="slider">
                
                <ul class="flex-direction-nav">
                  <li><a class="flex-prev" href="/assets/images/#">Prev</a></li>
                  <li><a class="flex-next" href="/assets/images/#">Next</a></li>
                </ul>
              <div class="flex-viewport" style="overflow: hidden; position: relative;">
              	<ul class="slides" style="width: 1400%; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-850px, 0, 0);">
              		<li class="pane clone" style="width: 850px; float: left; display: block;">
                    <div class="details">
                      <div class="identifier">
                        <h3 class="name">Illustration</h3>
                        <h4 class="subheading">Digital Presence</h4>
                      </div>
                      <div class="text-content"><p>Our projects start with pencil and paper, but our illustrated storyboards and technical drawings also make an excellent finishing touch. For something truly unique, we offer custom illustrations that help your brand connect and your story inspire.</p></div>
                    </div>
                  </li>
                  <li class="pane flex-active-slide" style="width: 850px; float: left; display: block;">
                    <div class="details">
                      <div class="identifier">
                        <h3 class="name">Strategy</h3>
                        <h4 class="subheading">Brand Foundation</h4>
                      </div>
                      <div class="text-content"><p>A proper strategy is one of the building blocks of your company, product, or service. Strategy includes Brand Alignment, Naming, Creative Consulting and Direction. We'll help you create a solid foundation to build your brand on.</p></div>
                    </div>
                  </li>
                  <li class="pane" style="width: 850px; float: left; display: block;">
                    <div class="details">
                      <div class="identifier">
                        <h3 class="name">Identity</h3>
                        <h4 class="subheading">Distilled Story</h4>
                      </div>
                      <div class="text-content"><p>Your brand’s identity is much more than your logo. It’s a collection of perceptions in the mind of your audience. A brand identity is made up of your name, logo, color scheme, textures, image styles, and the voice &amp; attitude of your brand.</p></div>
                    </div>
                  </li>
                  <li class="pane" style="width: 850px; float: left; display: block;">
                    <!--<div class="left-end"><img src="images/service-design.png" alt="Design" class="member-pic"></div>-->
                    <div class="details">
                      <div class="identifier">
                        <h3 class="name">Design</h3>
                        <h4 class="subheading">Brand Extensions</h4>
                      </div>
                      <div class="text-content"><p>With an aligned strategy and identity, we can create high-impact designs in a variety of mediums: responsive websites, mobile, print, apparel, and brand collateral. Our creative process and experience allows us to create unique solutions.</p></div>
                    </div>
                  </li>
                  <li class="pane" style="width: 850px; float: left; display: block;">
                    <div class="details">
                      <div class="identifier">
                        <h3 class="name">Development</h3>
                        <h4 class="subheading">Digital Presence</h4>
                      </div>
                      <div class="text-content"><p>We stay current with modern web technologies and love to learn &amp; experiment. We excel in responsive website development, content management system (CMS) integration, e-commerce deployment, and a wide variety of web applications.</p></div>
                    </div>
                  </li>
                  <li class="pane" style="width: 850px; float: left; display: block;">
                    <div class="details">
                      <div class="identifier">
                        <h3 class="name">Illustration</h3>
                        <h4 class="subheading">Digital Presence</h4>
                      </div>
                      <div class="text-content"><p>Our projects start with pencil and paper, but our illustrated storyboards and technical drawings also make an excellent finishing touch. For something truly unique, we offer custom illustrations that help your brand connect and your story inspire.</p></div>
                    </div>
                  </li>
                <li class="pane clone" style="width: 850px; float: left; display: block;">
                    <div class="details">
                      <div class="identifier">
                        <h3 class="name">Strategy</h3>
                        <h4 class="subheading">Brand Foundation</h4>
                      </div>
                      <div class="text-content"><p>A proper strategy is one of the building blocks of your company, product, or service. Strategy includes Brand Alignment, Naming, Creative Consulting and Direction. We'll help you create a solid foundation to build your brand on.</p></div>
                    </div>
                  </li></ul></div></div>
              <ul class="services-nav">
                <li class="active"><a href="/assets/images/#" class="service-node">
                	<img src="/assets/images/service-strategy.png" alt="Strategy" class="nav-pic"></a>
                </li>
                <li><a href="/assets/images/#" class="service-node">
                	<img src="/assets/images/service-identity.png" alt="Identity" class="nav-pic"></a></li>
                <li>
                	<a href="/assets/images/#" class="service-node">
                		<img src="/assets/images/service-design.png" alt="Design" class="nav-pic">
                	</a>
                </li>
                <li><a href="/assets/images/#" class="service-node">
                	<img src="/assets/images/service-development.png" alt="Development" class="nav-pic">
                </a></li>
                <li><a href="/assets/images/#" class="service-node">
                	<img src="/assets/images/service-illustration.png" alt="Illustration" class="nav-pic">
                </a></li>
              </ul>
            </li>
            <li class="inner-slide" style="width: 100%; float: left; margin-right: -100%; position: relative;">
              <div id="team-members" class="slider">
                
                <ul class="flex-direction-nav">
                  <li><a class="flex-prev" href="/assets/images//#">Prev</a></li>
                  <li><a class="flex-next" href="/assets/images//#">Next</a></li>
                </ul>
              <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1400%; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(0px, 0, 0);"><li class="pane clone" style="width: 0px; float: left; display: block;">
                    <div class="details">
                      <div class="identifier">
                        <h3 class="name">Brian Athey</h3>
                        <h4 class="subheading">Strategy Director</h4>
                      </div>
                      <div class="text-content">
                        <p>From Baton Rouge to DC to right here in Texas, Brian has worked in the creative industry for nearly seven years. He brings a well-rounded skill set to the table that is part managerial and part maker, but his first love will always be illustration.</p>
                      </div>
                    </div>
                  </li>
                  <li class="pane flex-active-slide" style="width: 0px; float: left; display: block;">
                    <div class="details">
                      <div class="identifier">
                        <h3 class="name">Roby Fitzhenry</h3>
                        <h4 class="subheading">Creative Director</h4>
                      </div>
                      <div class="text-content"><p>Over the last decade, Roby has focused on branding through strategy, identity, print and website design. His intuitive process allows him to find the core truths in any project. He is a board member of AIGA Houston and helps with TEDxHouston.</p></div>
                    </div>
                  </li>
                  <li class="pane" style="width: 0px; float: left; display: block;">
                    <div class="details">
                      <div class="identifier">
                        <h3 class="name">Corben Nichols</h3>
                        <h4 class="subheading">Art Director</h4>
                      </div>
                      <div class="text-content"><p>Concept development and ideation are what keep Corben moving. He has a passion for designing with purpose and jumps on any identity work that comes through our door. He also contributes with copywriting and iconography.</p></div>
                    </div>
                  </li>
                  <li class="pane" style="width: 0px; float: left; display: block;">
                    <div class="details">
                      <div class="identifier">
                        <h3 class="name">Jeff Blickenstaff</h3>
                        <h4 class="subheading">Operations Director</h4>
                      </div>
                      <div class="text-content"><p>Jeff keeps one foot rooted in internal development and one foot in client work. He is constantly looking for ways to improve our processes while keeping the books straight, the taxes paid, and the clients happy.</p></div>
                    </div>
                  </li>
                  <li class="pane" style="width: 0px; float: left; display: block;">
                    <div class="details">
                      <div class="identifier">
                        <h3 class="name">Jeremy Wynn</h3>
                        <h4 class="subheading">Interactive Director</h4>
                      </div>
                      <div class="text-content">
                        <p>Jeremy crafts and manipulates code to create solid, cohesive, and compelling user experiences on the web. He utilizes problem solving skills and design savvy to build progressive and responsive websites and applications.</p>
                      </div>
                    </div>
                  </li>
                  <li class="pane" style="width: 0px; float: left; display: block;">
                    <div class="details">
                      <div class="identifier">
                        <h3 class="name">Brian Athey</h3>
                        <h4 class="subheading">Strategy Director</h4>
                      </div>
                      <div class="text-content">
                        <p>From Baton Rouge to DC to right here in Texas, Brian has worked in the creative industry for nearly seven years. He brings a well-rounded skill set to the table that is part managerial and part maker, but his first love will always be illustration.</p>
                      </div>
                    </div>
                  </li>
                <li class="pane clone" style="width: 0px; float: left; display: block;">
                    <div class="details">
                      <div class="identifier">
                        <h3 class="name">Roby Fitzhenry</h3>
                        <h4 class="subheading">Creative Director</h4>
                      </div>
                      <div class="text-content"><p>Over the last decade, Roby has focused on branding through strategy, identity, print and website design. His intuitive process allows him to find the core truths in any project. He is a board member of AIGA Houston and helps with TEDxHouston.</p></div>
                    </div>
                  </li></ul></div></div>
              <ul class="team-nav">
                <li class="active"><a href="/assets/images/#" class="member-node">
                	<img src="/assets/images/team-rob.png" alt="Roby Fitzhenry" class="nav-pic">
                </a></li>
                <li><a href="/assets/images/#" class="member-node">
                	<img src="/assets/images/team-corben.png" alt="Corben Nichols" class="nav-pic">
                </a></li>
                <li><a href="/assets/images/#" class="member-node">
                	<img src="/assets/images/team-jeff.png" alt="Jeff Blickenstaff" class="nav-pic">
                </a></li>
                <li><a href="/assets/images/#" class="member-node">
                	<img src="/assets/images/team-jeremy.png" alt="Jeremy Wynn" class="nav-pic">
                </a></li>
                <li><a href="/assets/images/#" class="member-node">
                	<img src="/assets/images/team-brian.png" alt="Brian Athey" class="nav-pic">
                </a></li>
              </ul>
            </li>
          </ul>
        </div>
      </section>
      <section id="inspiration" class="section inspiration">
        <div class="source">We are inspired by what<br> is yet to be discovered</div>
      </section>
      <section id="contact" class="section contact">
        <div class="container">
          <h2 class="section-header">Contact</h2>
          <h3>Discover your bigger picture.</h3>

          <div class="col chat">
            <h4>We'd Love To Chat</h4>

            <div id="map" class="map">
              <a href="http://goo.gl/maps/Np29P" target="_blank">
              	<img src="/assets/images/contact-map.png" alt="" class="location-map">
              </a>
            </div>

            <div class="contact-info" itemscope="">
              <div class="method">
                <span class="label">T</span> 
                <span class="details" itemprop="tel">832-955-1831</span>
              </div>
              <div class="method">
                <span class="label">E</span>
                <span class="details" itemprop="email"><a href="mailto:info@mail.net">info@mail.net</a></span>
              </div>
              <div class="method">
                <span class="label"><img src="./AlwaysCreative_files/pin-icon.png" alt="Pin Icon"></span> 
                <span class="details" itemprop="address" itemscope="" itemtype="http://data-vocabulary.org/Address">
                  <span itemprop="street-address">535 Arlington St</span><br>
                  <span itemprop="locality">Houston</span>, <span itemprop="region">TX</span> <span itemprop="postal-code">77007</span>
                </span>
              </div>
            </div>
          </div>
          
          <div class="col notes">
            <h4>Things to Know</h4>

            <h5>Pricing &amp; Timeline</h5>
            <p>We request budgets that allow for custom, detailed work on all projects. Your project's complexity and our queue determine the price and the timeline.</p>

            <h5>Preferred Project Type</h5>
            <p>We’re small on purpose, which makes us particular about the projects we take. We thrive in trusting, long-term partnerships.</p>

            <h5>Get Started</h5>
            <p>Get in touch and we’ll send a questionnaire to determine if we’re the right fit for each other. Assuming we are, we’ll provide a ballpark estimate and go from there.</p>

          </div>

          <div class="col request">
            <div id="request-trigger" class="request-trigger">Request a Consultation</div>
            

            <form action="/assets/images/#request-form" method="post" id="request-form" class="form" autocomplete="off">
              <input type="hidden" name="consultForm" value="consultForm">
              <h4 id="cf-header">Request a Consultation</h4>
              <fieldset id="cf-fieldset">
                
                
                
                <div class="form-field">
                  <label for="name">Full Name</label>
                  <input type="text" name="name" id="name" placeholder="Full Name" class="requiredNoWhitespace " value="">
                  
                </div>
                <div class="form-field">
                  <label for="email">Email</label>
                  <input type="email" name="email" id="email" placeholder="Email" class="requiredNoWhitespace " value="">
                  
                </div>
                <div class="form-field">
                  <label for="phone">Phone Number</label>
                  <input type="text" name="phone" id="phone" placeholder="Phone Number" class="requiredNoWhitespace " value="">
                  
                </div>
                <div class="form-field">
                  <label for="type">Project Type</label>
                  <input type="text" name="type" id="type" placeholder="Project Type" class="requiredNoWhitespace " value="">
                  
                </div>
                <button type="submit" name="submit" class="submit" id="submit-btn" disabled="disabled">Submit Request</button>
              </fieldset>
            </form>
          </div>

          <footer class="site-footer">
            <div class="social-links">
              <a href="#" class="facebook" target="_blank">Facebook</a>
              <a href="#" class="twitter" target="_blank">Twitter</a>
              <a href="#" class="dribble" target="_blank">Dribble</a>
              <a href="#" class="houston" target="_blank">Houston</a>
            </div>
            <div class="copyright">Copyright © 2013 Always Creative. <br> Most rights reserved.</div>
          </footer>
        </div>
      </section>
    </div> <!-- /#main -->
    <div id="portfolio-window" class="portfolio-window">
      <div id="portfolio-content" class="portfolio-content">
        <div id="portfolio-showcase" class="portfolio-showcase">
          <ul class="slides">
            <!-- #1 Premium Draught -->
            <li class="piece flex-active-slide" id="project1" style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;">
              <div class="header">
                <div class="port-nav">
                  <a href="/assets/images/#project9" class="prev-piece">Prev</a>
                  <div class="close-window">Close</div>
                  <a href="/assets/images/#project2" class="next-piece">Next</a>
                </div>
                <div class="container">
                  <div class="text">
                    <h2>Premium Draught</h2>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="sect-label">Logo &amp; Secondary Marks</div>
                <div class="container">
                  <p><img class="portfolio-images " data-src="images/portfolio/pd-1-branding.gif" alt="Premium Draught Branding Sample" src="./AlwaysCreative_files/pd-1-branding.gif">
                    <noscript>
                      <img src="images/portfolio/pd-1-branding.gif" alt="Premium Draught Branding Sample">
                    </noscript>
                  </p>
                </div>
                <div class="sect-label"><a href="http://premiumdraught.com/" target="_blank">premiumdraught.com</a></div>
                <div class="container">
                  <p><img class="portfolio-images " data-src="images/portfolio/pd-2a-website.jpg" alt="Premium Draught website design sample" src="/assets/images/pd-2a-website.jpg">
                    <noscript>
                      <img src="images/portfolio/pd-2a-website.jpg" alt="Premium Draught website design sample">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images " data-src="images/portfolio/pd-2b-website.jpg" alt="Premium Draught website design sample" src="/assets/images/pd-2b-website.jpg">
                    <noscript>
                      <img src="images/portfolio/pd-2b-website.jpg" alt="Premium Draught website design sample">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images " data-src="images/portfolio/pd-2c-website.jpg" alt="Premium Draught website design sample" src="/assets/images/pd-2c-website.jpg">
                    <noscript>
                      <img src="images/portfolio/pd-2c-website.jpg" alt="Premium Draught website design sample">
                    </noscript>
                  </p>
                </div>
                <div class="sect-label">Printed Goods</div>
                <div class="container">
                  <p><img class="portfolio-images " data-src="images/portfolio/pd-3a-print-goods.gif" alt="Premium Draught Design Sample" src="/assets/images/pd-3a-print-goods.gif">
                    <noscript>
                      <img src="images/portfolio/pd-3a-print-goods.gif" alt="Premium Draught Design Sample">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images " data-src="images/portfolio/pd-3b-print-goods.jpg" alt="Premium Draught Design Sample" src="/assets/images/pd-3b-print-goods.jpg">
                    <noscript>
                      <img src="images/portfolio/pd-3b-print-goods.jpg" alt="Premium Draught Design Sample">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images " data-src="images/portfolio/pd-3c-print-goods.jpg" alt="Premium Draught Design Sample" src="/assets/images/pd-3c-print-goods.jpg">
                    <noscript>
                      <img src="images/portfolio/pd-3c-print-goods.jpg" alt="Premium Draught Design Sample">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images " data-src="images/portfolio/pd-3d-print-goods.gif" alt="Premium Draught Design Sample" src="/assets/images/pd-3d-print-goods.gif">
                    <noscript>
                      <img src="images/portfolio/pd-3d-print-goods.gif" alt="Premium Draught Design Sample">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images " data-src="images/portfolio/pd-3e-print-goods.jpg" alt="Premium Draught Design Sample" src="/assets/images/pd-3e-print-goods.jpg">
                    <noscript>
                      <img src="images/portfolio/pd-3e-print-goods.jpg" alt="Premium Draught Design Sample">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images " data-src="images/portfolio/pd-3f-print-goods.jpg" alt="Premium Draught Design Sample" src="/assets/images/pd-3f-print-goods.jpg">
                    <noscript>
                      <img src="images/portfolio/pd-3f-print-goods.jpg" alt="Premium Draught Design Sample">
                    </noscript>
                  </p>
                </div>
              </div>
              <div class="piece-footer">
                <div class="port-nav">
                  <a href="/assets/images/#project9" class="prev-piece">Prev</a>
                  <div class="close-window">Close</div>
                  <a href="/assets/images/#project2" class="next-piece">Next</a>
                </div>
              </div>
            </li>
            
            <!-- #2 HHH -->
            <li class="piece" id="project2" style="width: 100%; float: left; margin-right: -100%; position: relative;">
              <div class="header">
                <div class="port-nav">
                  <a href="/assets/images/#project1" class="prev-piece">Prev</a>
                  <div class="close-window">Close</div>
                  <a href="/assets/images/#project3" class="next-piece">Next</a>
                </div>
                <div class="container">
                  <div class="text">
                    <h2>HHH</h2>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="sect-label"><a href="http://houstonhasheart.com/" target="_blank">houstonhasheart.com</a></div>
                <div class="container">
                  <p><img class="portfolio-images pgrp1" data-src="images/portfolio/hhh-1a-website.jpg" alt="Houston Has Heart website design sample">
                    <noscript>
                      <img src="images/portfolio/hhh-1a-website.jpg" alt="Houston Has Heart website design sample">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images pgrp1" data-src="images/portfolio/hhh-1b-website.jpg" alt="Houston Has Heart website design sample">
                    <noscript>
                      <img src="images/portfolio/hhh-1b-website.jpg" alt="Houston Has Heart website design sample">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images pgrp1" data-src="images/portfolio/hhh-1c-website.jpg" alt="Houston Has Heart website design sample">
                    <noscript>
                      <img src="images/portfolio/hhh-1c-website.jpg" alt="Houston Has Heart website design sample">
                    </noscript>
                  </p>
                </div>
              </div>
              <div class="piece-footer">
                <div class="port-nav">
                  <a href="/assets/images/#project1" class="prev-piece">Prev</a>
                  <div class="close-window">Close</div>
                  <a href="/assets/images/#project3" class="next-piece">Next</a>
                </div>
              </div>
            </li>

            <!-- #3 Shops -->
            <li class="piece" id="project3" style="width: 100%; float: left; margin-right: -100%; position: relative;">
              <div class="header">
                <div class="port-nav">
                  <a href="/assets/images/#project2" class="prev-piece">Prev</a>
                  <div class="close-window">Close</div>
                  <a href="/assets/images/#project4" class="next-piece">Next</a>
                </div>
                <div class="container">
                  <div class="text">
                    <h2>Shops at Riverwoods</h2>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="sect-label">Logo Redesign</div>
                <div class="container">
                  <p><img class="portfolio-images pgrp2" data-src="images/portfolio/shops-1-branding.gif" alt="Shops at Riverwoods Logo Redesign">
                    <noscript>
                      <img src="images/portfolio/shops-1-branding.gif" alt="Shops at Riverwoods Logo Redesign">
                    </noscript>
                  </p>
                </div>
                <div class="sect-label">2013 Marketing Guidelines</div>
                <div class="container">
                  <p><img class="portfolio-images pgrp2" data-src="images/portfolio/shops-2a-guidelines.jpg" alt="Shops at Riverwoods Marketing Guidelines Design Sample">
                    <noscript>
                      <img src="images/portfolio/shops-2a-guidelines.jpg" alt="Shops at Riverwoods Marketing Guidelines Design Sampl">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images pgrp2" data-src="images/portfolio/shops-2b-guidelines.jpg" alt="Shops at Riverwoods Marketing Guidelines Design Sample">
                    <noscript>
                      <img src="images/portfolio/shops-2b-guidelines.jpg" alt="Shops at Riverwoods Marketing Guidelines Design Sampl">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images pgrp2" data-src="images/portfolio/shops-2c-guidelines.jpg" alt="Shops at Riverwoods Marketing Guidelines Design Sample">
                    <noscript>
                      <img src="images/portfolio/shops-2c-guidelines.jpg" alt="Shops at Riverwoods Marketing Guidelines Design Sampl">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images pgrp2" data-src="images/portfolio/shops-2d-guidelines.jpg" alt="Shops at Riverwoods Marketing Guidelines Design Sample">
                    <noscript>
                      <img src="images/portfolio/shops-2d-guidelines.jpg" alt="Shops at Riverwoods Marketing Guidelines Design Sampl">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images pgrp2" data-src="images/portfolio/shops-2e-guidelines.jpg" alt="Shops at Riverwoods Marketing Guidelines Design Sample">
                    <noscript>
                      <img src="images/portfolio/shops-2e-guidelines.jpg" alt="Shops at Riverwoods Marketing Guidelines Design Sampl">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images pgrp2" data-src="images/portfolio/shops-2f-guidelines.jpg" alt="Shops at Riverwoods Marketing Guidelines Design Sample">
                    <noscript>
                      <img src="images/portfolio/shops-2f-guidelines.jpg" alt="Shops at Riverwoods Marketing Guidelines Design Sampl">
                    </noscript>
                  </p>
                </div>
                <div class="sect-label"><a href="http://shopsatriverwoods.com/" target="_blank">shopsatriverwoods.com</a></div>
                <div class="container">
                  <p><img class="portfolio-images pgrp2" data-src="images/portfolio/shops-3a-website.jpg" alt="Shops at Riverwoods Responsive Website Design Sample">
                    <noscript>
                      <img src="images/portfolio/shops-3a-website.jpg" alt="Shops at Riverwoods Responsive Website Design Samplen">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images pgrp2" data-src="images/portfolio/shops-3b-website.jpg" alt="Shops at Riverwoods Responsive Website Design Sample">
                    <noscript>
                      <img src="images/portfolio/shops-3b-website.jpg" alt="Shops at Riverwoods Responsive Website Design Samplen">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images pgrp2" data-src="images/portfolio/shops-3c-website.jpg" alt="Shops at Riverwoods Responsive Website Design Sample">
                    <noscript>
                      <img src="images/portfolio/shops-3c-website.jpg" alt="Shops at Riverwoods Responsive Website Design Samplen">
                    </noscript>
                  </p>
                </div>
              </div>
              <div class="piece-footer">
                <div class="port-nav">
                  <a href="/assets/images/#project2" class="prev-piece">Prev</a>
                  <div class="close-window">Close</div>
                  <a href="/assets/images/#project4" class="next-piece">Next</a>
                </div>
              </div>
            </li>

            <!-- #4 NRB -->
            <li class="piece" id="project4" style="width: 100%; float: left; margin-right: -100%; position: relative;">
              <div class="header">
                <div class="port-nav">
                  <a href="http://alwayscreative.net/#project3" class="prev-piece">Prev</a>
                  <div class="close-window">Close</div>
                  <a href="http://alwayscreative.net/#project5" class="next-piece">Next</a>
                </div>
                <div class="container">
                  <div class="text">
                    <h2>NRB</h2>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="sect-label">Logo &amp; Secondary Marks</div>
                <div class="container">
                  <p><img class="portfolio-images pgrp3" data-src="images/portfolio/nrb-1-branding.jpg" alt="New Republic Brewing Logo Design">
                    <noscript>
                      <img src="images/portfolio/nrb-1-branding.jpg" alt="New Republic Brewing Logo Design">
                    </noscript>
                  </p>
                </div>
                <div class="sect-label">Tap Handles &amp; Coasters</div>
                <div class="container">
                  <p><img class="portfolio-images pgrp3" data-src="images/portfolio/nrb-2-tap-handles.jpg" alt="New Republic Brewing tap handle design">
                    <noscript>
                      <img src="images/portfolio/nrb-2-tap-handles.jpg" alt="New Republic Brewing tap handle design">
                    </noscript>
                  </p>
                </div>
                <div class="sect-label">T-Shirts</div>
                <div class="container">
                  <p><img class="portfolio-images pgrp3" data-src="images/portfolio/nrb-3-shirts.jpg" alt="New Republic Brewing t-shirt design">
                    <noscript>
                      <img src="images/portfolio/nrb-3-shirts.jpg" alt="New Republic Brewing t-shirt design">
                    </noscript>
                  </p>
                </div>
                <div class="sect-label">Print Work</div>
                <div class="container">
                  <p><img class="portfolio-images pgrp3" data-src="images/portfolio/nrb-4-print.jpg" alt="New Republic Brewing print design">
                    <noscript>
                      <img src="images/portfolio/nrb-4-print.jpg" alt="New Republic Brewing print design">
                    </noscript>
                  </p>
                </div>
                <!-- <div class="sect-label"><a href="http://newrepublicbrewing.com" target="_blank">newrepublicbrewing.com</a></div>
                <div class="container">
                  <p><img class="portfolio-images pgrp3" data-src="images/portfolio/nrb-5-website.jpg" alt="New Republic Brewing website design">
                    <noscript>
                      <img src="images/portfolio/nrb-5-website.jpg" alt="New Republic Brewing website design">
                    </noscript>
                  </p>
                </div> -->
              </div>
              <div class="piece-footer">
                <div class="port-nav">
                  <a href="/assets/images/#project3" class="prev-piece">Prev</a>
                  <div class="close-window">Close</div>
                  <a href="/assets/images/#project5" class="next-piece">Next</a>
                </div>
              </div>
            </li>
            
            <!-- #5 Malawi's -->
            <li class="piece" id="project5" style="width: 100%; float: left; margin-right: -100%; position: relative;">
              <div class="header">
                <div class="port-nav">
                  <a href="/assets/images/#project4" class="prev-piece">Prev</a>
                  <div class="close-window">Close</div>
                  <a href="/assets/images/#project6" class="next-piece">Next</a>
                </div>
                <div class="container">
                  <div class="text">
                    <h2>Malawi's</h2>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="sect-label"><a href="http://malawispizza.com/" target="_blank">malawispizza.com</a></div>
                <div class="container">
                  <p><img class="portfolio-images pgrp4" data-src="images/portfolio/malawi-1-website-a.jpg" alt="">
                    <noscript>
                      <img src="images/portfolio/malawi-1-website-a.jpg" alt="">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images pgrp4" data-src="images/portfolio/malawi-2-website-b.jpg" alt="">
                    <noscript>
                      <img src="images/portfolio/malawi-2-website-b.jpg" alt="">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images pgrp4" data-src="images/portfolio/malawi-3-website-c.jpg" alt="">
                    <noscript>
                      <img src="images/portfolio/malawi-3-website-c.jpg" alt="">
                    </noscript>
                  </p>
                </div>
              </div>
              <div class="piece-footer">
                <div class="port-nav">
                  <a href="/assets/images/#project4" class="prev-piece">Prev</a>
                  <div class="close-window">Close</div>
                  <a href="/assets/images/#project6" class="next-piece">Next</a>
                </div>
              </div>
            </li>
            
            <!-- #6 Hardwood -->
            <li class="piece" id="project6" style="width: 100%; float: left; margin-right: -100%; position: relative;">
              <div class="header">
                <div class="port-nav">
                  <a href="/assets/images/#project5" class="prev-piece">Prev</a>
                  <div class="close-window">Close</div>
                  <a href="/assets/images/#project7" class="next-piece">Next</a>
                </div>
                <div class="container">
                  <div class="text">
                    <h2>Hardwood</h2>
                  </div>
                </div>
              </div>
              <div class="content">
              <div class="sect-label">Logo</div>
                <div class="container">
                  <p><img class="portfolio-images pgrp5" data-src="images/portfolio/hdco-1-logo.jpg" alt="Hardwood Design Co. Logo Design">
                    <noscript>
                      <img src="images/portfolio/hdco-1-logo.jpg" alt="Hardwood Design Co. Logo Design">
                    </noscript>
                  </p>
                </div>
                <div class="sect-label">Print Collateral</div>
                <div class="container">
                  <p><img class="portfolio-images pgrp5" data-src="images/portfolio/hdco-2-print.jpg" alt="Hardwood Design Co. Print Design">
                    <noscript>
                      <img src="images/portfolio/hdco-2-print.jpg" alt="Hardwood Design Co. Print Design">
                    </noscript>
                  </p>
                <div class="sect-label"><a href="http://hardwooddesigns.net/" target="_blank">hardwooddesigns.net</a></div>
                  <p><img class="portfolio-images pgrp5" data-src="images/portfolio/hdco-3a-website.jpg" alt="Hardwood Design Co. Website Design">
                    <noscript>
                      <img src="images/portfolio/hdco-3a-website.jpg" alt="Hardwood Design Co. Website Design">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images pgrp5" data-src="images/portfolio/hdco-3b-website.jpg" alt="Hardwood Design Co. Website Design">
                    <noscript>
                      <img src="images/portfolio/hdco-3b-website.jpg" alt="Hardwood Design Co. Website Design">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images pgrp5" data-src="images/portfolio/hdco-3c-website.jpg" alt="Hardwood Design Co. Website Design">
                    <noscript>
                      <img src="images/portfolio/hdco-3c-website.jpg" alt="Hardwood Design Co. Website Design">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images pgrp5" data-src="images/portfolio/hdco-3d-website.jpg" alt="Hardwood Design Co. Website Design">
                    <noscript>
                      <img src="images/portfolio/hdco-3d-website.jpg" alt="Hardwood Design Co. Website Design">
                    </noscript>
                  </p>
                </div>
              </div>
              <div class="piece-footer">
                <div class="port-nav">
                  <a href="/assets/images/#project5" class="prev-piece">Prev</a>
                  <div class="close-window">Close</div>
                  <a href="/assets/images/#project7" class="next-piece">Next</a>
                </div>
              </div>
            </li>
            
            <!-- #7 Thorn -->
            <li class="piece" id="project7" style="width: 100%; float: left; margin-right: -100%; position: relative;">
              <div class="header">
                <div class="port-nav">
                  <a href="/assets/images/#project6" class="prev-piece">Prev</a>
                  <div class="close-window">Close</div>
                  <a href="/assets/images/#project8" class="next-piece">Next</a>
                </div>
                <div class="container">
                  <div class="text">
                    <h2>Thorn</h2>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="sect-label">Overview</div>
                <div class="container">
                  <p><img class="portfolio-images pgrp6" data-src="images/portfolio/thorn-0-intro.jpg" alt="Thorn Pest Solutions Design Sample">
                    <noscript>
                      <img src="images/portfolio/thorn-0-intro.jpg" alt="Thorn Pest Solutions Design Sample">
                    </noscript>
                  </p>
                </div>
                <div class="sect-label">Logo &amp; Secondary Marks</div>
                <div class="container">
                  <p><img class="portfolio-images pgrp6" data-src="images/portfolio/thorn-1-logo.jpg" alt="Thorn Pest Solutions Logo Design Sample">
                    <noscript>
                      <img src="images/portfolio/thorn-1-logo.jpg" alt="Thorn Pest Solutions Logo Design Sample">
                    </noscript>
                  </p>
                </div>
                <div class="sect-label">Print Collateral</div>
                <div class="container">
                  <p><img class="portfolio-images pgrp6" data-src="images/portfolio/thorn-2-print.gif" alt="Thorn Pest Solutions Print Design Samples">
                    <noscript>
                      <img src="images/portfolio/thorn-2-print.gif" alt="Thorn Pest Solutions Print Design Samples">
                    </noscript>
                  </p>
                </div>
                <div class="sect-label">Truck Graphics</div>
                <div class="container">
                  <p><img class="portfolio-images pgrp6" data-src="images/portfolio/thorn-3-truck.jpg" alt="Thorn Pest Solutions Truck Wrap Design Sample">
                    <noscript>
                      <img src="images/portfolio/thorn-3-truck.jpg" alt="Thorn Pest Solutions Truck Wrap Design Sample">
                    </noscript>
                  </p>
                </div>
                <div class="sect-label"><a href="http://thornservices.com/" target="_blank">thornservices.com</a></div>
                <div class="container">
                  <p><img class="portfolio-images pgrp6" data-src="images/portfolio/thorn-4a-website.jpg" alt="Thorn Pest Solutions Website Design Sample">
                    <noscript>
                      <img src="images/portfolio/thorn-4a-website.jpg" alt="Thorn Pest Solutions Website Design Sample">
                    </noscript>
                  </p>
				  <p><img class="portfolio-images pgrp6" data-src="images/portfolio/thorn-4b-website.jpg" alt="Thorn Pest Solutions Website Design Sample">
                    <noscript>
                      <img src="images/portfolio/thorn-4b-website.jpg" alt="Thorn Pest Solutions Website Design Sample">
                    </noscript>
                  </p>
				  <p><img class="portfolio-images pgrp6" data-src="images/portfolio/thorn-4c-website.jpg" alt="Thorn Pest Solutions Website Design Sample">
                    <noscript>
                      <img src="images/portfolio/thorn-4c-website.jpg" alt="Thorn Pest Solutions Website Design Sample">
                    </noscript>
                  </p>
				  <p><img class="portfolio-images pgrp6" data-src="images/portfolio/thorn-4d-website.jpg" alt="Thorn Pest Solutions Website Design Sample">
                    <noscript>
                      <img src="images/portfolio/thorn-4d-website.jpg" alt="Thorn Pest Solutions Website Design Sample">
                    </noscript>
                  </p>
                </div>
              </div>
              <div class="piece-footer">
                <div class="port-nav">
                  <a href="/assets/images/#project6" class="prev-piece">Prev</a>
                  <div class="close-window">Close</div>
                  <a href="/assets/images/#project8" class="next-piece">Next</a>
                </div>
              </div>
            </li>
            
            <!-- #8 La Jolla Groves -->
            <li class="piece" id="project8" style="width: 100%; float: left; margin-right: -100%; position: relative;">
              <div class="header">
                <div class="port-nav">
                  <a href="/assets/images/#project7" class="prev-piece">Prev</a>
                  <div class="close-window">Close</div>
                  <a href="/assets/images/#project9" class="next-piece">Next</a>
                </div>
                <div class="container">
                  <div class="text">
                    <h2>La Jolla</h2>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="sect-label"><a href="http://lajollagroves.com/" target="_blank">lajollagroves.com</a></div>
                <div class="container">
                  <p><img class="portfolio-images pgrp7" data-src="images/portfolio/ljg-1a-website.jpg" alt="La Jolla Groves Website Design Sample">
                    <noscript>
                      <img src="images/portfolio/ljg-1a-website.jpg" alt="La Jolla Groves Website Design Sample">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images pgrp7" data-src="images/portfolio/ljg-1b-website.jpg" alt="La Jolla Groves Website Design Sample">
                    <noscript>
                      <img src="images/portfolio/ljg-1b-website.jpg" alt="La Jolla Groves Website Design Sample">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images pgrp7" data-src="images/portfolio/ljg-1c-website.jpg" alt="La Jolla Groves Website Design Sample">
                    <noscript>
                      <img src="images/portfolio/ljg-1c-website.jpg" alt="La Jolla Groves Website Design Sample">
                    </noscript>
                  </p>
                </div>
              </div>
              <div class="piece-footer">
                <div class="port-nav">
                  <a href="/assets/images/#project7" class="prev-piece">Prev</a>
                  <div class="close-window">Close</div>
                  <a href="/assets/images/#project9" class="next-piece">Next</a>
                </div>
              </div>
            </li>
            
            <!-- #9 BLC -->
            <li class="piece" id="project9" style="width: 100%; float: left; margin-right: -100%; position: relative;">
              <div class="header">
                <div class="port-nav">
                  <a href="/assets/images/#project8" class="prev-piece">Prev</a>
                  <div class="close-window">Close</div>
                  <a href="/assets/images/#project1" class="next-piece">Next</a>
                </div>
                <div class="container">
                  <div class="text">
                    <h2>BLC</h2>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="sect-label">Logo</div>
                <div class="container">
                  <p><img class="portfolio-images pgrp8" data-src="images/portfolio/blc-1-logo.jpg" alt="BLC Conference Logo Design Sample">
                    <noscript>
                      <img src="images/portfolio/blc-1-logo.jpg" alt="BLC Conference Logo Design Sample" >
                    </noscript>
                  </p>
                </div>
                <div class="sect-label">Print Work</div>
                <div class="container">
                  <p><img class="portfolio-images pgrp8" data-src="images/portfolio/blc-2-print.jpg" alt="BLC Conference Print Design Samples">
                    <noscript>
                      <img src="images/portfolio/blc-2-print.jpg" alt="BLC Conference Print Design Samples" >
                    </noscript>
                  </p>
                </div>
                <div class="sect-label"><a href="http://blcconference.com/" target="_blank">blcconference.com</a></div>
                <div class="container">
                  <p><img class="portfolio-images pgrp8" data-src="images/portfolio/blc-3a-website.jpg" alt="BLC Conference Website Design Samples">
                    <noscript>
                      <img src="images/portfolio/blc-3a-website.jpg" alt="BLC Conference Website Design Samples">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images pgrp8" data-src="images/portfolio/blc-3b-website.jpg" alt="BLC Conference Website Design Samples">
                    <noscript>
                      <img src="images/portfolio/blc-3b-website.jpg" alt="BLC Conference Website Design Samples">
                    </noscript>
                  </p>
                  <p><img class="portfolio-images pgrp8" data-src="images/portfolio/blc-3c-website.jpg" alt="BLC Conference Website Design Samples">
                    <noscript>
                      <img src="images/portfolio/blc-3c-website.jpg" alt="BLC Conference Website Design Samples">
                    </noscript>
                  </p>
                </div>
              </div>
              <div class="piece-footer">
                <div class="port-nav">
                  <a href="http://alwayscreative.net/#project8" class="prev-piece">Prev</a>
                  <div class="close-window">Close</div>
                  <a href="http://alwayscreative.net/#project1" class="next-piece">Next</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- /#universe -->
  
  <!-- <script>window.jQuery || document.write('<script src="javascripts/libs/jquery-1.8.0.min.js"><\/script>')</script> -->

  <!--[if IE 8]>
    <script type="text/javascript" src="/javascripts/ie.js"></script>
  <![endif]-->
  <!--[if IE 7]>
    <script type="text/javascript" src="/javascripts/ie7.js"></script>
  <![endif]-->



</body></html>